.WhoAmI {

}

.WhoAmI__content {
}

.top-bg {
    background: url("../../assets/home_bg_3.jpg");
    background-size: cover;
}

@media screen and (max-width: 780px) {
    .formation-image {
        display: none;
    }
}
