.Header {
    height: 80px;
    width: 100%;
    background: white;
    position: fixed;
    box-shadow: 0 0 10px rgba(0,0,0,0.18);
}

.Header__burger-menu-icon {
    padding-top: 6px;
    height: 60px;
    float:left;
    cursor: pointer;
    text-align:center;
    display: flex;
}

a.header-link {
    font-weight: normal;
}

a.header-link-focus {
    font-weight: 500;
}
