.Header {
    height: 80px;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 5;
    box-shadow: 0 0 10px rgba(0,0,0,0.18);
}

.Header__burger-menu-icon {
    padding-top: 6px;
    height: 60px;
    float:left;
    cursor: pointer;
    text-align:center;
    display: flex;
}

a.header-link {
    font-weight: normal;
}

a.header-link-focus {
    font-weight: 500;
}

.header__burger-menu {
    display: none !important;
}

.mobile-header-title {
    display: none !important;
}

@media screen and (max-width: 780px) {
    .header__burger-menu {
        display: block !important;
    }

    .header__normal-size {
        display: none !important;
        margin: 0;
    }

    .mobile-header-title {
        display: flex !important;
    }
}

