.Footer {
    width: 100%;
    color: white;
    margin-top: -64px;
}

.Footer__rotated {
    width: calc(100vw - 60px);
    height: 0;
    border-left: 0px solid transparent;
    border-right: calc(100vw - 60px) solid transparent;
    border-bottom: 60px solid #0C9463;
}

.Footer__client-infos {
    @apply bg-green;
    padding: 8px;
}

.Footer__rights {
    @apply bg-blue;
    padding: 8px;
}

.client-infos__content {

}
