.Home__content {

}

.Home__content__content {
    @apply flex;
}

.content--profil-image {
    @apply flex-none;
}

.content--text {
    width: 100%;
    @apply flex-grow;
    margin-left: 64px;
}

.resp-container {
    margin-top: 32px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.Home__profil_image {
    width: 220px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.top-bg {
    background: url("../../assets/home_bg_3.jpg");
    background-size: cover;
}

@media screen and (max-width: 780px) {
    .Home__content {
        padding: 32px;
    }

    .Home__content__content {
        display: block;
    }

    .content--profil-image {
        display: none;
    }

    .content--text {
        display: block;
        margin-left: 0;
    }
}
