.Home {
    background: url("../../assets/home_bg.jpg") no-repeat top;
    background-size: 100% 360px;
}

.Home__content {
    background: white;
}

.Home__profil_image {
    width: 200px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
