
@import "./_variables.scss";

body {
  margin: 0 !important;
}

#app {
  font-family: 'Titillium Web', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-primary-darkblue;
  background: $color-primary-bgGray;
  min-height: 100vh;
  margin: 0 !important;
  font-size: 18px;
  letter-spacing: 0.8px;
}
